body{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,span,strike{
  font-family: 'Poppins', sans-serif;
}

.task-container{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
  box-shadow: 4px 9px 39px -8px rgba(0,0,0,0.51);
-webkit-box-shadow: 4px 9px 39px -8px rgba(0,0,0,0.51);
-moz-box-shadow: 4px 9px 39px -8px rgba(0,0,0,0.51);

  margin-top: 120px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

#form-wrapper{
  background:  rgba(223, 223, 223,0.1);
  position: -webkit-sticky;
  position: sticky;
  border: 3px rgb(228, 228, 228) solid;
  border-radius: 4px !important;
  top: 0rem;
  /* box-shadow: 0 3px 8px rgba(0,0,0,0.25); */
  padding: 20px;
}
#task{
  background: transparent;
  color: rgb(24, 24, 24);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px rgb(240, 240, 240)  solid !important;
  border: none;
}

#submit{
  background-color: #3427ab !important;
  border-radius: 3px !important;
  border: 0 !important;
  color: #fff !important;
  margin-left: 20px !important;
}

.flex-wrapper{
  display: flex !important;
}

.task-wrapper{
  margin-top: 10px !important;
  padding: 10px !important;
  font-weight: 600;
  color: white !important;
  gap: 10px !important;
  border-bottom: 1px rgba(78, 78, 78, 0.103) solid !important;
}

.btn{
  font-weight: 500 !important;
  border: 2px  rgb(73, 208, 255) solid !important;
}
